@(Html.Kendo().MobileView()
    .Title("About")
    .Name("About")
    .Content(@<text>
        <h3>Native UI on every device</h3>
        <p>
            Build apps and sites for mobile devices that offer native-like experiences for end users automatically, 
            without any extra coding. Currently supporting: WinPhone8, iOS, Android and Blackberry. Try the automatically adapting UI in the
            <a href="http://demos.kendoui.com/mobile/overview/index.html">Kendo UI Mobile demos</a>.
        </p>
    </text>)
)
